<div class="container">
  <img
    src="assets/img/task-list-null.png"
    alt="Sua lista de atividades está vazia."
    loading="eager"
  />

  @if(addItem()){
  <button class="btn btn-primary" (click)="addItem.set(false)">
    Crie uma lista de tarefas
  </button>
  }@else {
  <div>
    <label for="activityInput" class="input-label-text">
      <input
        id="activityInput"
        type="text"
        placeholder="Adicione uma nova tarefa..."
        autofocus
      />

      <button
        class="btn btn-primary-circle"
        title="Adicionar uma nova tarefa"
      ></button>
    </label>
  </div>
  }
</div>
