<div class="container">
  <img
    src="assets/img/task-list-null.png"
    alt="Sua lista de atividades está vazia."
    loading="eager"
  />

  <button class="btn btn-primary">Crie uma lista de tarefas</button>

  <div>
    <label for="activityInput" class="input-label-text">
      <input
        id="activityInput"
        type="text"
        placeholder="Adicione uma nova tarefa..."
        autofocus
      />

      <button
        class="btn btn-primary"
        title="Adicionar uma nova tarefa"
      ></button>
    </label>
  </div>
</div>
