@if(!getItemsList().length){
<div class="container">
  <img
    src="assets/img/task-list-null.png"
    alt="Sua lista de atividades está vazia."
    loading="eager"
  />

  @if(addItem()){
  <button class="btn btn-primary" (click)="addItem.set(false)">
    Crie uma lista de tarefas
  </button>
  }@else {
  <app-input-add-item
    [inputItemsList]="getItemsList()"
    (outputAddListItem)="getInputAndAddItem($event)"
  />
  }
</div>
}@else{
<app-input-add-item
  [inputItemsList]="getItemsList()"
  (outputAddListItem)="getInputAndAddItem($event)"
/>

<main class="container">
  @if(itemsListStage('pending').length){
  <h2>Pendências</h2>
  <app-input-list-item
    [inputItemsList]="itemsListStage('pending')"
    (outputUpdateItemCheckbox)="updateItemCheckbox($event)"
    (outputUpdateItemText)="updateItemText($event)"
    (outputDeleteItem)="deleteItem($event)"
  />
  } @if(itemsListStage('completed').length){
  <h2>Finalizadas</h2>
  <app-input-list-item
    [inputItemsList]="itemsListStage('completed')"
    (outputUpdateItemCheckbox)="updateItemCheckbox($event)"
    (outputUpdateItemText)="updateItemText($event)"
    (outputDeleteItem)="deleteItem($event)"
  />
  }
</main>

<footer>
  <button class="btn btn-danger" (click)="deleteAllItems()">
    Remover todos itens
  </button>
</footer>
}
